<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <% include ../partials/header.ejs %>
 <style>
      #map {
        width: 1100px;
        height: 400px;
      }
    </style>
</head>
<body>
</div>

      <div class="container" ng-controller="AppCtrl1">
 
      <h1>CSE 5335 Project-1 </h1>
      
      <h4>A simple web application to demonstrate Client-Server communication using Node.js, ExpressJS and AngularJS.</h4>
    <h6>Click the update button below to fill up the table</h6>  
      <button ng-click="update()" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-flash">Update</span></button>
      
     <!--  <button ng-click="visualize()" class="btn btn-lg btn-std"><span class="glyphicon glyphicon-flash">Google Map</span></button> -->

      <br><br><br>
      <table class="table">
        <tr>
        <th>Name</th>
        <th>LatLong</th>
        <th>HighF</th>
        <th>LowF</th>
      </tr>
      <tr ng-repeat="city in cities |filter:city.names| orderBy:-1">
        <td>{{city.name}}</td>
        <td>{{city.ll}}</td>
        <td>{{city.highF}}</td>
        <td>{{city.lowF}}</td>
      </tr>
      </table>
     <div id="map"></div>
   
    </div>

    </div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
      <script src="/controllers/controller.js"></script>     
  <!-- <% include ../partials/nav.ejs %> -->
<script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
        async defer></script>

</body>
</html>

